<p>addform works!</p>
<form [formGroup]="suggform" >


<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">title</span>
  </div>
  <input type="text" aria-label="First name" formControlName="title" class="form-control">
</div>
<div class="alert alert-danger" *ngIf="suggform.get('title')?.touched 
&& suggform.get('title')?.errors?.['required'] ">
title is required
</div>
<div class="alert alert-danger" *ngIf="suggform.get('title')?.touched 
&& suggform.get('title')?.errors?.['pattern'] ">
title doit commence par Majus
</div>
<div class="alert alert-danger" *ngIf="suggform.get('title')?.touched 
&& suggform.get('title')?.errors?.['maxlength'] ">
title max length 10
</div>
<br>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">description</span>
  </div>
  <input type="text" aria-label="First name" formControlName="description" class="form-control">

</div>

<div class="alert alert-danger" *ngIf="suggform.get('description')?.touched 
&& suggform.get('description')?.errors?.['required'] ">
description is required
</div>
<div class="alert alert-danger" *ngIf="suggform.get('description')?.touched 
&& suggform.get('description')?.errors?.['minlength'] ">
description max length 10
</div>
<br>
<select class="form-select" formControlName="category" aria-label="Default select example">
  <option selected>Open this select menu</option>
  <option *ngFor="let c of category" value="{{c}}">{{c}}</option>
 
</select>

<div class="alert alert-danger" *ngIf="suggform.get('category')?.touched 
&& suggform.get('category')?.errors?.['required'] ">
category is required
</div>
<br>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">status</span>
  </div>
  <input type="text" aria-label="First name" formControlName="status" class="form-control">

</div>

<div class="alert alert-danger" *ngIf="suggform.get('status')?.touched 
&& suggform.get('status')?.errors?.['required'] ">
status is required
</div>

<div class="alert alert-danger" *ngIf="suggform.get('status')?.touched 
&& suggform.get('status')?.errors?.['pattern'] ">
title doit etre'en-attente'
</div>
<br>
<button class="btn btn-primary" [disabled]="suggform.invalid" (click)="add()">save</button>



</form>
